<h1 align="center"><%= @article.title %></h1>

<div class="row border" style="padding: 20px;">
  <div class="col-md-8">
    <h2 class="card-title">Description:</h2>
    <p class="card-text"><%= simple_format(@article.description) %></p>
  </div>
    <div class="col-md-4">
        <%= gravatar_img_card(@article.user) if @article.user %>
      <div class="card-body">
        <div class="card-title">
          <h2><%= link_to(@article.user.username, user_path(@article.user, class: "card-title")) if @article.user %></h2>
          <small><%= pluralize(@article.user.articles.count, "article") if @article.user %></small>

        </div>

        <div class="article-actions">
          <%= link_to "Back to articles", articles_path, class: "btn btn-xs btn-primary" %>
          <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-success" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Arm you sure?"}, class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
